body {
    background-color: white;
}

.App {
    font-family: sans-serif;
    text-align: center;
    width: 100%;
    height: 100%;
    border: none;
    position: relative;
    box-sizing: border-box;
    min-height: 90vh;
    display: flex;
}

.component {
    background-color: white;
    max-width: 500px;
    margin: 17em auto;
    padding-bottom: 2em;
    border: 0.1px solid black;
    border-radius: 10px;
    align-items: center;
    height: 100%;
    width: 100%;
    box-shadow: 10px 5px 5px rgba(10, 10, 100, 0.2);
    text-align: center;
}

.musicCover {
    max-width: 50%;
    width:80%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
    margin: auto;
    margin-top: 70px;
    
}

.playButton {
    background: none;
    border: none;
    align-items: center;
    justify-content: center;
    max-width: 50%;
}

.title {
    font-size: 1.5em;
    margin-top: 0.5em;
    color: #4f4f4f;
}

.subTitle {
    margin-top: -0.4em;
    color: #4f4f4f;
}

.time {
    margin: 0 auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
    font-size: smaller;
    align-items: baseline;
}

/*.time {
    border: 1px dashed red;
}
*/

.timeline {
    width: 80%;
    cursor: pointer;
    background-color: blue;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    border: none;
    transition: all 0.1s linear;
}

.timeline::-webkit-slider-runnable-track {
    background-color: gray;
    height: 5px;
}
    



.timeline::-webkit-slider-thumb {
    appearance: none;
    -webkit-appearance: none;
    margin-top: -7px;

    height: 18px;
    width: 18px;
    background-color: #5D3FD3;
    border-radius: 50%;

}


/*input[type="range"] {
    background-color: gray;
}
    */

@media (max-width: 900px) {
    .component {
        width: 50%;
    }
}

.gradient-background {
    position: fixed;
    width: 100%;
    min-height: 96vh;
    background: linear-gradient(
        to bottom left,
        var(--gradient-color-start, #ffffff),
        var(--gradient-color-end, #eeeeee)
    ), 
        linear-gradient(to right ,
            var(--gradient-color-end, #ffffff),
            var(--gradient-color-start, #eeeeee)
    );
    transition: background 1s ease-in-out;

    justify-content: center;
    align-items: center;
    top: 57px;
    left: 0;
    background-size: 600% 600%;
    animation: gradientShift 30s ease infinite, oppositeGradientShift 40s linear infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes oppositeGradientShift {
    0% {
        background-position: 50% 0%;
    }
    50% {
        background-position: 50% 100%;
    }
    100% {
        background-position: 50% 0%;
    }
}
